@font-face {
    font-family: 'Petrov Sans';
    src: url('/fonts/petrov-sans/PetrovSans-Book.ttf') format('truetype');
    font-weight: 400; /* Peso normal */
}

@font-face {
    font-family: 'Petrov Sans';
    src: url('/fonts/petrov-sans/PetrovSans-SemiBold.ttf') format('truetype');
    font-weight: 600; /* Peso semi-negrito */
}

@font-face {
    font-family: 'Petrov Sans';
    src: url('/fonts/petrov-sans/PetrovSans-ExtraBold.ttf') format('truetype');
    font-weight: 800; /* Peso extra-negrito */
}

@font-face {
    font-family: 'Petrov Sans';
    src: url('/fonts/petrov-sans/PetrovSans-Black.ttf') format('truetype');
    font-weight: 900; /* Peso negrito */
}

@font-face {
    font-family: 'Petrov Sans';
    src: url('/fonts/petrov-sans/PetrovSans-Bold.ttf') format('truetype');
    font-weight: bold; /* Peso negrito */
}

@font-face {
    font-family: 'Petrov Sans';
    src: url('/fonts/petrov-sans/PetrovSans-ExtraLight.ttf') format('truetype');
    font-weight: 200; /* Peso extra-leve */
}

@font-face {
    font-family: 'Petrov Sans';
    src: url('/fonts/petrov-sans/PetrovSans-Light.ttf') format('truetype');
    font-weight: 300; /* Peso leve */
}

@font-face {
    font-family: 'Petrov Sans';
    src: url('/fonts/petrov-sans/PetrovSans-Regular.ttf') format('truetype');
    font-weight: normal; /* Peso normal */
}

@font-face {
    font-family: 'Petrov Sans';
    src: url('/fonts/petrov-sans/PetrovSans-Thin.ttf') format('truetype');
    font-weight: 100; /* Peso leve */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Petrov Sans;
    background-color: #161616;
    width: 100%;
    color: #ffffff;
}
.principal{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 75px;
    font-weight: 300;
    height: 100vh;
    width: 100%;
}
.shadow{
    -webkit-filter: drop-shadow( 0px 5px 20px rgba(0, 0, 0, 1));
    filter: drop-shadow( 0px 5px 20px rgba(0, 0, 0, 1));
}
.shadow2{
    -webkit-filter: drop-shadow( 0px 5px 10px rgba(0, 0, 0, 1));
    filter: drop-shadow( 0px 5px 10px rgba(0, 0, 0, 1));
}
section{
    width: 97%;
    height: auto;
    border-radius: 15px;
    margin: 0px auto;
    margin-top: 30px;
    outline: 3px #2a2a2a solid;
    padding: 20px 20px;
    padding-bottom: 50px;
}
section h1{
    font-size: 80px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 20px;
}
.text{
    font-weight: 400;
    font-size: 20px;
    text-indent: 20px;
}
.centralizer{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cards-holder{
    width: 100%;
    min-height: 50px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card-certify{
    height: 115px;
    width: 400px;
    border: #FF005C 1px solid;
    -webkit-border-top-right-radius: 25px;
    -moz-border-radius-topright: 25px;
    border-top-right-radius: 25px;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
    text-align: center;
    margin: 20px 20px 0px 0px;
    padding-top: 10px;
}
.card-certify:hover{
    cursor: pointer;
    transition: ease-in-out 0.2s;
    box-shadow: rgb(26, 26, 26) 0px 5px 15px;
}
.card-title{
    font-size: 30px;
    font-weight: 600;
}
.card-loc{
    font-size: 20px;
}
.card-date{
    font-size: 14px;
}
.skill-card{
    height: 60px;
    width: 60px;
    background-color: #FF005C;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
}
.skill-card:hover{
    box-shadow: rgb(26, 26, 26) 0px 5px 15px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
.skill-card img{
    height: 50px;
}
.projects-holder{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project-desc{
    width: 250px;
    height: auto;
    margin-bottom: 20px;
}
.content-desc{
    margin-top: 10px;
    width: auto;
    height: auto;
    border: rgba(252, 252, 252, 1) 3px solid;
    color: rgba(252, 252, 252, 1);
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.project-img{
    width: 900px;
    border-radius: 15px;
}
.project-img img{
    border-radius: 15px;    
}
.project-selector{
    width: 250px;
    height: 90px auto;
}
.select{
    border-radius: 10px;
    border: rgba(252, 252, 252, 0.6) 3px solid;
    color: rgba(252, 252, 252, 0.6);
    padding: 5px;
    width: 250px;
    height: 40px;
    margin-top: 10px;
    font-weight: 800;
    text-align: center;
}
.select:hover{
    text-shadow: rgba(255, 255, 255, 0.3) 0px 0px 10px;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 10px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
.selected{
    border: rgba(252, 252, 252, 0.9) 3px solid;
    color: rgba(252, 252, 252, 0.9);
}
.title{
    font-weight: 800;
    font-size: 30px;
    text-align: center;
}
.project-text{
    font-size: 18px;
    padding: 10px;
}
.contact-card{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: #fcfcfc 4px solid; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.2s;
}
.cards-holder a{
    display: inline-block;
    margin: 15px;
    border-radius: 50%;
}
.contact-card:hover{
    background-color: #FF005C;
}
footer{
    background-color: #FF005C;
    height: 120px;
    margin-top: 50px;
    padding-top: 20px;
    text-align: center;
}

@media (max-width: 1500px) {
    .project-selector{
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 1000px) {
    .project-selector{
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    #imagem-projeto{
        width: 80vw;
    }
}
@media (max-width: 660px) {
    .project-selector{
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    section h1{
        font-size: 50px;
        padding-bottom: 10px;
    }
    .principal img{
            width: 200px;
    }
    .principal p{
        font-size: 50px;
    }
}
